appdirs==1.4.4
appnope==0.1.2
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.6.3
certifi==2020.6.20
chardet==4.0.0
cliff==2.8.3
cmd2==1.5.0
colorama==0.4.4
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
gunicorn==20.1.0
idna==2.10
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.11
jupyter-core==4.7.1
MechanicalSoup==0.8.0
parso==0.8.1
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2020.8.13
prettytable==0.7.2
prompt-toolkit==3.0.16
ptyprocess==0.7.0
Pygments==2.8.0
pyparsing==2.4.7
pyperclip==1.8.2
python-dateutil==2.8.1
PyYAML==5.4.1
pyzmq==22.0.3
requests==2.25.1
six==1.15.0
stevedore==3.3.0
tornado==6.1
traitlets==5.0.5
urllib3==1.26.3
virtualenv==20.0.31
virtualenv-clone==0.5.4
wcwidth==0.2.5
