<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CMPE285HW</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <script>
        function myFunction() {
        var text1= $('#text1').val();
          $.ajax({
                      url: "/join",
                      type: "POST",
                      data: {text1:text1}
                  }).done(function(response) {
                    var html= "<br><br><br><p>Output :<p>";
                    response =response.result;
                         $.each(response,function(key,val){
                         console.log(val);
                            html+="<p>"+val+"<p>"
                        });
                        html +="<br>";
                        $(".show-data").append(html);
                    });
        };
    </script>
    <body>
        <p>
            Input:<br>
                Please enter a symbol:<br><input type="text" id="text1" name="text1"><
                <button id="clicked" onclick="myFunction()">Submit</button>
            </p>
        <div class="show-data" >
        </div>
    </body>
</html>
